<table class="table table-bordered table-sm table-hover table-responsive-sm text-center request-table" cellspacing="0"
       width="100%">
  <thead class="thead-dark">
  <tr>
    <th>Код</th>
    <th>Наименование</th>
    <th>Ко-во</th>
    <th>Кор. сист.</th>
    <th>Тип</th>
    <th>Обновлен</th>
    <th>Выс.</th>
    <th>Цена</th>
    <th>Рег.</th>
    <th>Мин.</th>
    <th>Макс.</th>
    <th>Параметры</th>
    <th>Примечание</th>
    <th>Поставщик</th>

  </tr>
  </thead>
  <tbody>
  {% for requestItem in request.items %}
    <tr>

      <td>{{ requestItem.product.id }}</td>
      <td>{{ requestItem.product.name }}</td>
      <td>{{ requestItem.quantity }}</td>
      <td>{% if (requestItem.product.root.name is not empty) %}{{ requestItem.product.root.name }}{% if ((requestItem.product.containerSize is not empty) and (requestItem.product.root.name == 'Контейнер')) %}<br>Размер: {{ requestItem.product.containerSize }}<br>{% endif %}{% endif %}</td>
      <td>{% if (requestItem.product.type.name is not empty) %}{{ requestItem.product.type.name }}{% endif %}
      </td>
      <td>{{ requestItem.product.date|date("d.m.Y") }}</td>
      <td>{{ requestItem.product.height }}</td>
      <td>{{ (requestItem.product.price*requestItem.quantity)|number_format(2, ',', ' ') }}</td>
      <td>
        {% if (requestItem.product.supplier.region.code is defined) %}
          {{ requestItem.product.supplier.region.code }}
        {% endif %}
      </td>
      <td>{{ requestItem.product.countMin }}</td>
      <td>{{ requestItem.product.countMax }}</td>
      <td>{% if requestItem.product.diameterBarrel is not empty %}<div>Диаметр ствола {{ requestItem.product.diameterBarrel }}</div>{% endif %}{% if requestItem.product.diameterCrown is not empty %}<div>Диаметр кроны {{ requestItem.product.diameterCrown }}</div>{% endif %}{% if requestItem.product.diameterComa is not empty %}<div>Диаметр земляного кома {{ requestItem.product.diameterComa }}</div>{% endif %}</td>
      <td>{{ requestItem.product.comment }}</td>
      <td class="text-left">{{ requestItem.product.supplier.name }}<br>Телефон: {{ requestItem.product.supplier.phone }}
        <br>Email: {{ requestItem.product.supplier.email }}<br>Сайт: {{ requestItem.product.supplier.site }}
        <br>Регион: {{ requestItem.product.supplier.region.name }}<br>Адрес: {{ requestItem.product.supplier.address }}
      </td>
    </tr>
  {% endfor %}
  </tr>
  </tbody>
</table>
