{% extends 'base.html.twig' %}

{% block title %}Поставщики{% endblock %}

{% block body %}

  <div class="container">
    <div class="row pt-3">
      <div class="col-sm-12 text-center">
        <h1>{{ supplier.name }}</h1>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-12">
        <div class="d-flex justify-content-center">
          <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseSupplierCard"
                  aria-expanded="false">
            Карточка поставщика
          </button>
          <a href="{{ path('supplier_edit', {id: supplier.id}) }}" class="btn btn-warning ml-1"
             data-iframe-src="{{ path('supplier_edit', {id: supplier.id}) }}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a href="{{ path('supplier_remove', {id: supplier.id}) }}" class="btn btn-danger delete-object-btn ml-1">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </div>
        <div class="collapse mt-2" id="collapseSupplierCard">
          <table class="table table-bordered table-sm table-hover table-vertical table-responsive-lg" cellspacing="0"
                 width="100%">
            <thead class="thead-dark">
            <tr>
              <th class="th-sm">Наименование</th>
              <th>{{ supplier.name }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Телефон</td>
              <td>{{ supplier.phone }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ supplier.email }}</td>
            </tr>
            <tr>
              <td>Сайт</td>
              <td>{{ supplier.site }}</td>
            </tr>
            <tr>
              <td>Регион</td>
              <td>{{ supplier.region.name }}</td>
            </tr>
            <tr>
              <td>Адрес</td>
              <td>{{ supplier.address }}</td>
            </tr>
            <tr>
              <td>Расстояние</td>
              <td>{{ supplier.distance }}</td>
            </tr>
            <tr>
              <td>Реквизиты</td>
              <td>{{ supplier.requisites }}</td>
            </tr>
            <tr>
              <td>Примечание</td>
              <td>{{ supplier.comment }}</td>
            </tr>
            <tr>
              <td>Дата</td>
              <td>-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-12">
        <div class="d-flex justify-content-center">
          <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseSupplierStaffers"
                  aria-expanded="false">
            Контактные лица
          </button>
          <a href="#" data-toggle="modal" data-target="#addSupplierStafferModal" class="btn btn-success ml-1">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="collapse mt-2" id="collapseSupplierStaffers">
          {% for staffer in supplier.staffers %}
            <table class="table table-bordered table-sm table-hover table-vertical table-responsive-lg" cellspacing="0"
                   width="100%">
              <thead class="thead-dark">
              <tr>
                <th>{{ staffer.name }}</th>
                <th>
                  <a href="{{ path('supplier_staffer_edit', {'supplierId': supplier.id, 'stafferId': staffer.id}) }}"
                     class="btn btn-sm btn-warning ml-1"
                     data-iframe-src="{{ path('supplier_edit', {id: supplier.id}) }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                  <a href="{{ path('supplier_remove', {id: supplier.id}) }}"
                     class="btn btn-sm btn-danger delete-object-btn ml-1">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>

                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Телефон</td>
                <td>{{ staffer.phone }}</td>
              </tr>
              <tr>
                <td>Должность</td>
                <td>{{ staffer.position }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ staffer.email }}</td>
              </tr>
              <td>Примечание</td>
              <td>{{ staffer.comment }}</td>
              </tr>
              </tbody>
            </table>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-sm-12">
        <div class="d-flex justify-content-center">
          <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseSupplierProducts"
          >
            Товары
          </button>
          <a href="#" data-toggle="modal" data-target="#addSupplierProductModal" class="btn btn-success ml-1">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="collapse show mt-2" id="collapseSupplierProducts">
          {{ include('product/list_block.html.twig') }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center">


        <div class="card">
          <div class="card-header">
            Импорт товаров
          </div>
          <div class="card-body">
            <a class="btn btn-primary mb-3" href="{{ absolute_url(asset('files/productImport.xlsx')) }}" download="">
              <i class="fa fa-file-excel-o" aria-hidden="true"></i>
              Шаблон
            </a>

            {{ form_start(importForm) }}

            <div class="form-group">
              <div class="custom-file">
                {{ form_widget(importForm.file) }}
                <label class="custom-file-label" for="customFile" data-browse=".xlsx">Выберите файл</label>
              </div>
            </div>

            <button type="submit" class="btn btn-success">Импорт</button>
            {{ form_end(importForm) }}


            {#            <form action="" method="post" enctype="multipart/form-data">#}
            {#              <div class="form-group">#}
            {#                <div class="custom-file">#}
            {#                  <input type="file" class="custom-file-input" id="customFile" name="file"#}
            {#                         accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">#}
            {#                  <label class="custom-file-label" for="customFile" data-browse=".xlsx">Выберите файл</label>#}
            {#                </div>#}
            {#              </div>#}
            {#              <input type="number" value="{{ supplier.id }}" name="supplier_id" hidden>#}
            {#              <div class="form-group text-center">#}
            {#                <button class="btn btn-success" type="submit">Импорт</button>#}
            {#              </div>#}
            {#            </form>#}
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- Add staffer modal -->
  <div class="modal fade" id="addSupplierStafferModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавление контактного лица</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{ form_start(addSupplierStufferForm) }}
        <div class="modal-body">
          {{ form_widget(addSupplierStufferForm) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-success">Добавить</button>
        </div>
        {{ form_end(addSupplierStufferForm) }}
      </div>
    </div>
  </div>

  <!-- Add product modal -->
  <div class="modal fade" id="addSupplierProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавление продукта</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{ form_start(addSupplierProductForm) }}
        <div class="modal-body">
          {{ form_widget(addSupplierProductForm) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-success">Добавить</button>
        </div>
        {{ form_end(addSupplierProductForm) }}
      </div>
    </div>
  </div>

{% endblock %}
