<table id="productsTable" class="table table-bordered table-sm table-hover table-responsive-lg" cellspacing="0"
       width="100%">
  <thead class="thead-dark">
  <tr>
    <th class="sorting_disabled">-</th>
    <th>Код</th>
    <th>Наименование</th>
    <th>Кор. сист.</th>
    <th>Тип</th>
    <th>Обновлен</th>
    <th>Выс.</th>
    <th>Цена</th>
    <th>Рег.</th>
    <th>Мин.</th>
    <th>Макс.</th>
    <th>Параметры</th>
    <th>Примечание</th>
  </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <td>
        <div class="d-flex">
          <a href="{{ path('supplier_product_edit', {'supplierId': product.supplier.id, 'productId': product.id}) }}"
             class="btn btn-sm btn-warning ml-1"
             data-iframe-src="{{ path('supplier_edit', {id: product.supplier.id}) }}">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a href="{{ path('supplier_product_delete', {id: product.id}) }}"
             class="btn btn-sm btn-danger delete-object-btn ml-1">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </div>

      </td>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>
        {% if (product.root.name is not empty) %}
          {{ product.root.name }}
          {% if ((product.containerSize is not empty) and (product.root.name == 'Контейнер')) %}
            <p>Размер: {{ product.containerSize }}</p>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if (product.type.name is not empty) %}
          {{ product.type.name }}
        {% endif %}
      </td>
      <td>{{ product.date|date("d.m.Y") }}</td>
      <td>{{ product.height }}</td>
      <td>{{ product.price }}</td>
      <td>
        {% if (product.supplier.region.code is defined) %}
          {{ product.supplier.region.code }}
        {% endif %}
      </td>
      <td>{{ product.countMin }}</td>
      <td>{{ product.countMax }}</td>

      <td>
        {% if product.diameterBarrel is not empty %}
          <p>Диаметр ствола {{ product.diameterBarrel }}</p>
        {% endif %}
        {% if product.diameterCrown is not empty %}
          <p>Диаметр кроны {{ product.diameterCrown }}</p>
        {% endif %}
        {% if product.diameterComa is not empty %}
          <p>Диаметр земляного кома {{ product.diameterComa }}</p>
        {% endif %}
      </td>
      <td>{{ product.comment }}</td>
    </tr>
  {% endfor %}
  </tr>
  </tbody>
</table>