{% extends 'base.html.twig' %}

{% block title %}Поставщики{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Button trigger modal -->
        <div>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSupplierModal">
            Добавить
          </button>
        </div>

        <table id="suppliersTable" class="table table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th class="th-sm">Наименование</th>
            <th class="th-sm">Регион</th>
            <th class="th-sm">Адрес</th>
            <th class="th-sm">Расстояние</th>
            <th class="th-sm">Товаров</th>
          </tr>
          </thead>
          <tbody>
          {% for supplier in suppliers %}
            <tr>
              <td><a href="{{ path('supplier_view', {'id': supplier.id}) }}">{{ supplier.name }}</a></td>
              <td>region</td>
              <td>{{ supplier.address }}</td>
              <td>{{ supplier.distance }}</td>
              <td>123</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="addSupplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Добавление поставщика</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{ form_start(addSupplierForm) }}
        <div class="modal-body">
          {{ form_widget(addSupplierForm) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-success">Добавить</button>
        </div>
        {{ form_end(addSupplierForm) }}
      </div>
    </div>
  </div>

{% endblock %}
